@model PizzaPan.EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ürün Güncelleme Sayfası</h2>
<form method="post">
    @Html.HiddenFor(x => x.ProductID)
    @Html.Label("Ürün Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.Label("Ürün Açıklaması")
    @Html.TextBoxFor(x => x.Des, new { @class = "form-control" })
    <br />
    @Html.Label("Ürün Resmi")
    @Html.TextBoxFor(x => x.ImageURL, new { @class = "form-control" })
    <br />
    @Html.Label("Ürün Fiyatı")
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori Id'si")
    @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control" })
    <br />


    <button class="btn btn-success">Kategoriyi Güncelle</button>
</form>