@model List<Discount>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string color = "";
    int count = 0;
}


<h1>Kupon Kodu Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kupon Kodu</th>
        <th>Kişi Sayısı</th>
        <th>Başlangıç Tarihi</th>
        <th>Bitiş Tarihi</th>
    </tr>
    @foreach(var item in Model)
    {
        if(item.DiscountLastDate < DateTime.Now)
        {
            color = "background-color:#ff7171";
        }

        if (item.DiscountLastDate > DateTime.Now)
        {
            color = "background-color:#9dffaf";
        }
        count++;
        <tr style="@color">
            <td>@count</td>
            <td>@item.DiscountCode</td>
            <td>@item.DiscountSınır</td>
            <td>@(((DateTime)item.DiscountDate).ToString("dd-MM-yyyy"))</td>
            <td>@(((DateTime)item.DiscountLastDate).ToString("dd-MM-yyyy"))</td>
        </tr>
    }
</table>
<a href="/Kupon/CreateCode" class="btn btn-success">Yeni Kupon Oluştur</a>

